.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Reset */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
}

/* Utilities */

.flex-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.flex-col-container {
  display: flex;
  flex-direction: column
}

.jc-center {
  justify-content: center;
}

.flex-gap-sm {
  gap: 2.5rem;
}

.flex-gap-md {
  gap: 5rem;
}

.flex-gap-lg {
  gap: 10rem;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  align-items: center;
}

@media (max-width: 600px) {
  .grid-col-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 75%;
  }
}

.mt-tiny {
  margin-top: 1.5rem;
}

.mt-small {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 6rem;
}

/* Title Section */
#title {
  padding: 0 2rem;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-content h1 {
  font-size: 2rem;
  font-weight: 600;
}

.title-img {
  padding-top: 5px;
}

@media (max-width: 800px) {
  .title-img {
    display: none;
  }

  .title-content {
    margin-bottom: 2.5rem;
    align-items: center;
    text-align: center;
  }

  .flex-container {
    width: 90%;
  }
}

.download-btn-container {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.btn {
  padding: .75rem 1.25rem;
  border-radius: 7.5px;
  text-align: center;
  vertical-align: center;
}

.apple-btn {
  background-color: #fff;
}

.google-btn {
  background-color: none;
}

/* Feature Section */
#features {
  width: 75%;
  padding: 1rem;
  margin: 4rem auto 8rem auto;
}

@media (max-width: 900px) {
  #features {
    width: 90%;
    margin: 2rem auto 4rem auto;
  }
}

.feature-col {
  display: grid;
  grid-template-columns: minmax(10px, 15px) auto;
  gap: 1.5rem;
}

.feature-col h3 {
  margin: 0;
  font-size: 1.5rem;
}

.flex-col-container p {
  font-size: .75rem;
}

/* Testimonial Section */

#testimonial {
  width: 75%;
  margin: 6rem auto 0 auto;
}

@media (max-width: 800px) {
  #testimonial {
    margin-top: 4rem;
  }
}

.testimonial-title {
  font-size: 1.5rem;
  text-align: center;
}

.testimonial-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-img {
  border-radius: 10px;
  max-width: 125px;
}

.testimonial-img {
  border-radius: 50%;
  padding: 5px;
  width: 350px;
}

.testimonial-caption {
  font-size: 1rem;
  margin-top: .5rem;
}

.testimonial-companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media (max-width: 935px) {
  .testimonial-companies {
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.25rem;
    margin: 2rem auto;
  }
}

@media (max-width: 625px) {
  .testimonial-companies {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .testimonial-companies {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.testimonial-company {
  max-width: 150px;
  height: 30px;
}

/* Pricing Section */

#pricing {
  width: 80%;
  margin: 6rem auto 3.5rem auto;
}

.pricing-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
}

.pricing-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: #787A7A;
}

.pricing-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
}

@media (max-width: 900px) {
  .pricing-options {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem auto 0 auto;
  }
}

@media (max-width: 700px) {
  .pricing-options {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .pricing-options {
    width: 90%;
  }
}

.pricing-option {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
}

.pricing-option-header {
  font-size: 1rem;
  padding: 1rem .25rem;
  text-align: center;
  margin: 0;
  font-weight: normal;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #d3d3d3;
}

.pricing-option-header-dark {
  background-color: #000;
  color: #fff
}

.pricing-option-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

}

.pricing-option-text p {
  margin: 0 0 .5rem 0;
}

.pricing-option-price {
  font-weight: 300;
  font-size: 1.5rem;
  color: #787A7A;
}

.pricing-option-price span  {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.btn-signup {
  margin: 1rem .5rem .5rem .5rem;
  border: 1px solid #000;
  font-size: 1rem;
}

.btn-pricing-clear {
  background-color: #fff;
}

.btn-pricing-dark {
  background-color: #000;
  color: #fff;
}

/* Footer */

#footer {
  padding: .5rem 2rem;
  margin-top: 2rem;
  transition: .3s;
}

.footer-grid {
  width: 75%;
  margin: 1.5rem auto 0 auto;
  padding-bottom: 3rem;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 2fr repeat(3, 1fr);
}

.footer-section {
  margin-right: 2rem;
}

.footer-section h3 {
  margin: 0;
}

.footer-links {
  padding: 0;
}

.footer-link {
  list-style: none;
  display: block;
  font-weight: 300;
  padding: .25rem;
}

@media (max-width: 775px) {
  .footer-section {
    display: none;
  }
}

/* Specific Classes */

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
