.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Reset */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
}

/* Utilities */
.flex-container {
  display: flex;
}

.flex-col-container {
  display: flex;
  flex-direction: column
}

.jc-center {
  justify-content: center;
}

.flex-gap-sm {
  gap: 2.5rem;
}

.flex-gap-md {
  gap: 5rem;
}

.flex-gap-lg {
  gap: 10rem;
}

/* Title Section */
.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-content h1 {
  font-size: 2rem;
  font-weight: 600;
}

.title-img {
  padding-top: 5px;
}

.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  color: #000;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: .25rem;
}

.nav li a {
  text-decoration: none;
  color: inherit;
}

.download-btn-container {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.btn {
  padding: .75rem 1.25rem;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
}

.apple-btn {
  background-color: #fff;
}

.google-btn {
  background-color: none;
}

/* Specific classes */

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
